





body
{
    align-items: center;
    background-color: #e6eff6;
    font-family: 'Karla', sans-serif;
}
a
{
    text-decoration: none;
}
.container1
{
    padding-top:12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.boxHead
{   
    box-shadow: 0px 12px 22px 12px rgba(0,0,0,0.09);
    align-items: center;
    flex-basis: 510px;
    border-radius: 8px 8px 0 0;
    background-color: white;
    padding: 5px 20px 5px 20px;
    
}
 
.boxHead h3
{
    color:#2bb3b1; 
    font-weight: 700;   
}
.boxHead h4
{
    color:#c8d77a;
    
}   
.boxHead h5
{
    color:#a6aab5;
    font-weight: 400;
    line-height: 1em;
}

.container2
{
    /*
    display: flex;
    justify-content: center;*/
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxLeft
{
    
    flex-basis: 235px;
    border-radius: 0 0 0 8px;
    background-color:#2bb3b1;
    padding: 5px 20px 5px 20px;
    color: #fff;
}
.boxLeft h5
{
    font-weight: 400;
}
.boxLeft h4
{
    font-weight: 400;
}
.boxRight
{
    
    flex-basis: 235px;
    border-radius: 0 0 8px 0;
    background-color:#4abebd;
    padding: 5px 20px 5px 20px;
    
}
.boxRight h4
{
    font-weight: 400;
    color: #fff;
}

.boxRight h6
{
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
}
.button
{
    background:#bfdf32;
    display: block;
    width: 180px;
    height: 35px;
    color: #fff;
    margin: auto;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 10px 23px 9px rgba(0,0,0,0.18);
    
    
    
}
.button:hover
{
    background: #fff;
    color: #bfdf32;
}

.button h5
{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
@media screen and (max-width: 550px)
{

    body
    {
        flex-direction: column;
    }

    .boxHead
    {
        flex-basis: 300px;
        border-radius: initial;
        border-radius: 5px 5px 0 0;
        
    }
    .boxLeft
    {
        flex-basis: 300px;
        border-radius: initial;
        padding-bottom: 25px;
    }
    .boxRight
    {
        flex-basis: 300px;
        border-radius: initial;
        border-radius: 0 0 5px 5px;
    }

}
@media screen and (max-width: 375px)
{

    body
    {
        flex-direction: column;
    }

    .boxHead
    {
        flex-basis: 235px;
        border-radius: initial;
        border-radius: 5px 5px 0 0;
    }
    .boxLeft
    {
        flex-basis: 235px;
        border-radius: initial;
        padding-bottom: 25px;
        
    }
    .boxRight
    {
        flex-basis: 235px;
        border-radius: initial;
        border-radius: 0 0 5px 5px;
    }

}